{% extends 'base.html'%} {% block content %}
<h1 class="mb-2 mt-0 text-5xl font-medium leading-tight text-primary">
  Calorie Tracker
</h1>
  {% if messages %}
  <div class="mb-6">
    {% for message in messages %}
    <div
      class="{% if message.tags == 'success' %}bg-green-100 text-green-700 border-green-400{% else %}bg-red-100 text-red-700 border-red-400{% endif %} border px-4 py-3 rounded relative mb-2"
      role="alert"
    >
      <span class="block sm:inline">{{ message }}</span>
    </div>
    {% endfor %}
  </div>
  {% endif %}
<div class="mx-auto block max-w-sm rounded-lg bg-white p-6 shadow">
  <form method="POST" action="{% url 'add_data' %}">
    {% csrf_token %}
    <!--E-mail input-->
    <div class="relative mb-6">
      <label for="exampleInputEmail2" class="text-gray-700">Food Item</label>
      <input
        type="text"
        class="block w-full rounded border border-gray-300 px-3 py-2 outline-none focus:border-blue-500"
        id="food_name"
        name="food_name"
        placeholder="eg. Fries"
      />
    </div>

    <!--Password input-->
    <div class="relative mb-6">
      <label for="exampleInputPassword2" class="text-gray-700"
        >Amount of Callories</label
      >
      <input
        type="number"
        class="block w-full rounded border border-gray-300 px-3 py-2 outline-none focus:border-blue-500"
        id="amount_of_calories"
        name="amount_of_calories"
        placeholder="eg. 130"
      />
    </div>
    <button
      type="submit"
      class="w-full rounded bg-blue-500 px-6 py-2 text-white font-medium transition hover:bg-blue-600"
    >
      Save
    </button>
  </form>
</div>
<form method="post" action="{% url 'reset_calories' %}">
  {% csrf_token %}
  <button
      type="submit"
      class="w-full rounded bg-red-500 px-6 py-2 text-white font-medium transition hover:bg-red-700"
  >
      Reset Day
  </button>
</form>

<div class="flex flex-col bg-white p-4 rounded-lg shadow">
  <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
      <div class="overflow-hidden">
        <table class="min-w-full text-left text-sm text-gray-800">
          <thead class="border-b bg-gray-100 text-gray-700">
            <tr>
              <th scope="col" class="px-6 py-4">Foods</th>
              <th scope="col" class="px-6 py-4">Calories</th>
              <th scope="col" class="px-6 py-4"></th>
            </tr>
          </thead>
          <tbody>
            {% if foodItems %}
                {% for item in foodItems %}
                <tr class="border-b border-gray-300 hover:bg-gray-200">
                <td class="whitespace-nowrap px-6 py-4">{{ item.food_name }}</td>
                <td class="whitespace-nowrap px-6 py-4">
                    {{ item.amount_of_calories }}
                </td>
                <td class="whitespace-nowrap px-6 py-4">
                    <form method="post" action="{% url 'remove_cal' item.id %}">
                        {% csrf_token %}
                        <button
                        type="submit"
                        class="inline-block rounded bg-red-500 px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-lg transition duration-150 ease-in-out hover:bg-red-700 focus:bg-red-700 focus:outline-none focus:ring-2 focus:ring-red-300 active:bg-red-800"
                        >
                        Delete
                        </button>
                    </form>
                </td>
                </tr>
                {% endfor %}
                <tr class="border-b border-neutral-200 dark:border-white/10">
                    <td class="whitespace-nowrap  px-6 py-4 font-medium"></td>
                    <td  class="whitespace-nowrap  px-6 py-4">
                        <h2 class="mb-2 mt-0 text-4xl font-medium leading-tight text-primary">
                            Total Calories:
                        </h2>
                    </td>
                    <td class="whitespace-nowrap  px-6 py-4">
                        <h2 class="mb-2 mt-0 text-4xl font-medium leading-tight text-primary">
                            {{ calorie_amount }}
                        </h2>
                    </td>
                </tr>  
                {% else %}
                    <tr class="border-b border-neutral-200 dark:border-white/10">
                        <td class="whitespace-nowrap  px-6 py-4 font-medium"></td>
                        <td  class="whitespace-nowrap  px-6 py-4">
                            <h2 class="mb-2 mt-0 text-4xl font-medium leading-tight text-primary">
                                No food calory to track today
                            </h2>
                        </td>
                    </tr> 
                {% endif %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock %}
